/* CSS Document */
body{
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-y:hidden;
	scrollbar-face-color : #9aa9a6;
}
body.bodycss1{
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow:auto;
	scrollbar-face-color : #9aa9a6;
}

TD {
	margin: 0px;
	font-size: 12px;
}
TD.rowSplit {
	height: 5px;
}
img,image{
	border: 0;
}
form{
	margin:0;border: 0;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
input.btn {
	border: 1px solid #a9c2c9;
	background-image: url(../images/main/btn_bg.jpg);
	height: 22px;
	cursor: pointer;
	background-repeat: repeat-x;
}
input.btn_active {
	border: 1px solid #a9c2c9;
	/*background-image: url(../images/main/button_bg.gif);*/
	height: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
}
input.btn1 {
	border: 0px solid #6daee2;
	width:54px;
	padding: 2px;
	height:22px;
	cursor: hand;
}

input.btnSelect {
	background-image: url(../images/main/button_bg.gif);
	border: 1px solid #6daee2;  
	cursor: hand;
}
input.page_no{
	width: 35px; 
	padding: 0px 2px;
	border: 0px;
	height: 18px;
	border: 1px solid #707978;	
}
.fontRed {
	color: red;
}

.fontGreen {
	color: #090;
}

.fontBlue {
	color: blue;
}

.fontBold {
	font-weight: bold;
}

table.panel {
	margin-top: 0px;
	align:center;
	background-color: #FFF;
}
table.wz {
	border: 1px solid #ccc;
	background-image: url(../images/main/tab_buttom.gif);
}

table.qry { 
}

table.plst {
	background-color: #F3F3F3; /**cbe9fd**/
}

table.lst {
	background-color: gray; /**cbe9fd**/
}

table.lst td {
	/*padding: 2px;*/
	background-color: #fff;
	font-size: 12px;
	height: 13px;
	/**border-bottom: 1px dotted #eee;**/
}

table.lst th {
	/*padding: 2px;*/
	color:#fff;
	font-size: 12px;
	font-weight: normal;
	height: 14px;
	background-image: url(../images/main/table_bg.jpg);
	/**border-bottom: 1px solid #ddd;**/
}

table.lst a:link {
	padding: 0px 2px;
	color: #06c;
	text-decoration: none;
}

table.lst a:visited {
	padding: 0px 2px;
	color: #06c;
	text-decoration: none;
}

tr.list_row0 td{	
	background-color: #fff;
}

tr.list_row1 td{
	background-color: #F1F4FB;	
}
td.row_no{
	text-align: right;
	background: #fff url(../images/main/tab_bg.gif);
	border-right: 1 solid #fff;
}
tr.mover td{
	background-color: #F4CC87;	
}

tr.clicked td{
	background-color: #F4CC87;	
}

div.lst_title {
	height: 100%;
	padding: 5px;
	border: 1 solid #DFDFDF;
	background-image: url(../images/main/tab_title.gif);
	/***tabletitle.gif**/
}
div.lst_area{
	width: 100%;overflow-x: auto; overflow-y: auto; height: 100%;
	/*border-top: 1px solid #c5d4d0;
	border-left: 1px solid #c5d4d0;
	border-right: 1px solid #c5d4d0;
	border-bottom: 1px solid #c5d4d0;*/
	background-color: #fff;
}



td.lst_content {
	background-color: #fff;
}

td.lst_empty {
	color: #f00;
	background-color: #fff;
}

table.lst_toolbar {
	/*background-color: #f3f3f3; 
	border-left: 1 solid #DFDFDF;
	border-right: 1 solid #DFDFDF;
	border-bottom: 1 solid #DFDFDF;*/
}

table.lst_toolbar td {
	/*padding: 5px;*/
}

table.detail {
	background-color: #bfcfcb;
}

td.detail2 {
	background-color: #fff;
}

table.detail3 {
	background-color: #DFF2FF;
}

td.msg_title {
	color: #014F8A;
	font-weight: bold;
}

td.detail_title {
	color: #014F8A;
	font-size: 12px;
	font-weight: bold;
}

td.detail_label {
	border-color:#d6ede7;
	text-align: right;
	background-color: #fef4fb;
}

td.detail_label_center {
	border-color:#d6ede7;
	text-align: center;
	background-color: #eafcea;
}


td.detail_content {
	background-color: #fff;
	word-break: break-all; 
	word-wrap:break-word;
	
}

td.detail_btn {
	background-color: #fff;
}


td.detail_toolbar {
	background-color: #fff;
}

input.decimal {
	text-align: right;
}


input.readonly {
	color: #555;
	background-color: #eef;
	border: 1 solid #DFDFDF;
	padding: 2px;
}

textarea.readonly {
	color: #555;
	background-color: #eef;
	border: 1 solid #DFDFDF;
	overflow: hidden;
	overflow-y: visible;
}

div.loading {
	padding-left: 30px;
	line-height: 30px;
	background: #fbfbfb url(../images/main/wait.gif) no-repeat 5px 5px;
}

span.validate {
	color: #f00;
	text-decoration: none;
	border-style: none;
}

div.toolbar {
	border: 1px solid #360;
	background-color: #ffc;
	margin: 0 0 .5em 0;
	padding: 0.2em;
}


.invalid {
	border: 1px solid #dd7870;
}

.gridToolbar {
	background-color: #F0F0F0;
}
/* 弹出短消息框样式 */
.mesWindow {
	border-top: 3px solid #636464;
	border-left: 1px solid #636464;
	border-right: 1px solid #636464;
	border-bottom: 1px solid #636464;
	background: #fff;
}
.mesWindowTop {
	border-bottom: #eee 1px solid;
	margin: 0px 4px;
	padding: 3px;
	font-weight: bold;
	text-align: left;
	font-size: 12px;
}

.mesWindowContent {
	margin: 4px;
	font-size: 12px;
}

/* 固定表头 */
.fixedRow {
	position: relative;
	top: expression(this . offsetParent . scrollTop);
	/*z-index: 10;*/
}

.tablayer{
	border-style:solid;
	background-color:white;
	border-width:1 0 0 1;
	width:100%;
	border-top-color:buttonhighlight;
	border-right-color:buttonshadow;
	border-bottom-color:buttonshadow;
	border-left-color:buttonhighlight;
}

a:link {text-decoration:none;color:#000000}
a:visited {text-decoration:none;color:#000000}
a:hover {text-decoration:underline;color:#cc0000}

.label_line{
	height:18px;
	text-align:center;
	border-width:0 0 1 0;
	border-style:solid;
	border-bottom-color:buttonhighlight;
}

.label_down{
	height:21px;
	text-align:center;
	font-size:12px;
	border:1px solid #cfcfc7;
	cursor:pointer;
	line-height:21px;
	background:url(../images/main/button_bg.jpg) repeat-x;
	font-weight:bold;
}

.label_down1{
	height:21px;
	text-align:center;
	font-size:12px;
	cursor:pointer;
	line-height:21px;
	color:#666666;
	font-weight:bold;
}

.button {
	border-style:solid;
	background-color:white;
	border-width:1 1 2 1;
	font-size:12px;
	border-top-color:buttonhighlight;
	border-right-color:buttonshadow;
	border-bottom-color:buttonshadow;
	border-left-color:buttonhighlight;
	cursor:pointer;
}



.label_up{
	height:18px;
	text-align:center;
	font-size:12px;
	border-width:1 2 0 1;
	border-style:solid;
	background-color:white;
	border-top-color:buttonhighlight;
	border-left-color:buttonhighlight;
	border-bottom-color:buttonshadow;
	border-right-color:buttonshadow;
}

.label_pre{
	height:18px;
	text-align:center;
	font-size:12px;
	border-style:solid;
	border-width:1 0 1 1;
	border-top-color:buttonhighlight;
	border-left-color:buttonhighlight;
	border-bottom-color:buttonhighlight;
	border-right-color:buttonshadow;
	cursor:pointer;
}
 

.hiddenelem {
	border-width:0 0 0 0;
	width:0px;
	height:0px;
}
.line{
	background-color:white;
}

.query_div{
	display:none;
	width:100%;
	background-color:#e0edf6;
	filter:alpha(opacity=90);
	position:absolute;
	left:0;
	top:45;
	right:100%;
	bottom:100%;
}
.buttonlayer{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	z-index:10;
}
span.curPage{
	heigth:10px;
	border: 1 solid #707978;
	background-color:#899894;
}
span.otherPage{
	heigth:10px;
	border: 1 solid #707978;
	background-color:#d9e4e0;
	cursor:pointer;
}

span.ascOrder{
	 background:url(../images/main/list_order_up.gif) no-repeat;width:7px;height:9px;
}
span.descOrder{
	 padding:0pt;
	 background:url(../images/main/list_order_down.gif) no-repeat;width:7px;height:9px;
}

.tabBackground{
	 background:url(../images/main/tab_bg.jpg) repeat-x;
	 height:28px;
	 border:1px solid #e4e1dc;
	 margin:4px 0;
}

input.refreshbtn{
	border: 1 solid #707978;
	background-color:#d9e4e0;
	height: 18px;
	cursor: pointer;
	background-repeat: no-repeat;
}

input.openbtn{
	border: 1 solid #707978;
	background-color:#d9e4e0;
	height: 18px;
	cursor: pointer;
	background-repeat: no-repeat;
}

input.closebtn{
	border: 1 solid #707978;
	background-color:#d9e4e0;
	height: 18px;
	cursor: pointer;
	background-repeat: no-repeat;
}

div.tree_resize{
	width:100%;
	height:100%;
	background-color:#e0edf6;
	filter:alpha(opacity=5);
	position:absolute;
	left:0;
	top:0;
	right:100%;
	bottom:100%;	
	cursor:e-resize;
}

table.detail_lst  {
	background-color: gray; /**cbe9fd**/
}

table.detail_lst .detail_label {
	/*padding: 2px;*/
	background-color: #f1f4fb;
	font-size: 12px;
	height: 14px;
	/**border-bottom: 1px dotted #eee;**/
}


input.cmmx{
}
input.uppercase{
}
/* 固定表尾 */
.fixedRowBottom {
    position:relative ; 
    bottom: expression((this . offsetParent . scrollTop)>=0?(this . offsetParent . scrollTop):(this.offsetParent.scrollHeight-this.offsetParent.clientHeight-this . offsetParent . scrollTop));
    background-color: gray; /**cbe9fd**/
/*
    z-index: 10;
*/
}
/*特殊工艺超过宽度后显示...*/
.hideNoticeText{
       width: 150px;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       color: red;
}

tr.detail_label {
	border-color:#d6ede7;
	background-color: #fef4fb;
}

td.detail_label2{
	background-color: #fff;
	word-break: break-all; 
	word-wrap:break-word;	
}

.detail_label  th {
	font-size:12px;
	font-weight:200;
	}
