BODY {
	margin: 0px;
	font-size: 12px;
	overflow:hidden;
	background-color: #d3f0f6;
}
img,image{
	border: 0;
}
form{
	margin:0;border: 0;
}
.label{
	padding:3px 1px;
	font-size: 12px;
	color: #000;	
}