/* CSS Document */
body,td {
	font-size: 12px;
	margin: 0px;
}

img,image,form { /* border style for all images */
	border: 0;
}

.white {
	color: #fff;	
}
.white a:link {
	color: #fff;
	text-decoration: none;
}

.white a:visited {
	color: #fff;
	text-decoration: none;
}
label.fontcss {
	font-size: 12px;
	color: black;	
}